html {
  background-color: #9a9999
}

body {
  margin: 0em;
}

header {
  background-color: #b5b199;
}

h1 {
  padding: 1em 1em 0.5em 1em;
  border-radius: 10px;
  margin: 0em;
  font-weight: normal;
  font-size: 3.5rem;
  font-style: normal;
  font-family: 'Francois One', sans-serif;
  line-height: .5;
  text-align: center;
}

main {
  padding: 1em;
}

h2 {
  font-weight: normal;
  font-size: 1.5rem;
  font-style: normal;
  font-family: 'Francois One', sans-serif;
  line-height: .5;
  text-align: left;
  color: #444;
  margin: 0.5em 1em 0.5em 0em;
}

h3 {
  font-weight: normal;
  font-size: 1.5rem;
  font-style: normal;
  font-family: 'Francois One', sans-serif;
  line-height: .5;
  text-align: left;
  color: #444;
  margin: 0em;
  padding: 0.5em 1em 0.5em 0em;

}

p {
  font-family: arial, sans-serif;
}

ol {
  margin: 0em;
}

li {
  font-weight: bold;
}

a {
  color: #0d344d;
  margin: 0em;
}

a:hover {
  color: white;
}

dt {
  font-weight:bold;
}

.planetlist {
  list-style-type: disc;
  padding: 30px;
  padding: 0.5em 1em 0.5em 1em;
}

b {
  color: purple;
}

blockquote {
  font-weight: normal;
  font-style: italic;
  font-size: 3rem;
  margin: 0.5em;
  color: #3e3d37;
}

cite {
  padding: 0.25em;
}

figure{
  background-color: #b5b199;
  padding: 1em;
}
img {
  width: 100%;
}

figcaption {
  font-style: italic;
  text-align: center;
  padding: 0.25em;
}

footer {
  background-color: #b5b199;
  text-align: left;
  padding: 1em 1em 1em 2em;
}

nav {
  text-align: center;
}

nav ol {
  list-style-type: none;
  margin: 0em;
  padding: 1em;
}

nav li {
  display: inline-block;
  padding: 0.25em;
}

nav a {
  display: inline-block;
  padding: 0.5em 0.75em;
  background-color: #4e0909;
  color: #fff;
  border-radius: 4px;
  width: 5em;
}

.neil {
  background-color: #9a9999;
  text-align: right;
}
